@charset "UTF-8";

@font-face {
    font-family: 'netflixBold';
    src: url('NetflixSans-Bold.otf') format(opentype);
}

@font-face {
    font-family: 'netflixLight';
    src: url('NetflixSans-Light.otf') format(opentype);
}

@font-face {
    font-family: 'netflixMedio';
    src: url('NetflixSans-Medium.otf') format(opentype);
}

@font-face {
    font-family: 'netflixRegular';
    src: url('NetflixSans-Regular.otf') format(opentype);
}

:root{
    --fonte1: 'netflixBold', arial, verdana;
    --fonte2: 'netflixLight', arial, verdana;
    --fonte3: 'netflixMedio', arial, verdana;
    --fonte4: 'netflixRegular', arial, verdana;
}


*{
    margin: 0px;
    padding: 0px;
    color: white;
    
    
}

section.imagemfundo{
    background: url('Imagens/fundo\ principal.jfif') no-repeat fixed;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    box-shadow: inset 0px 0px 1300px 80px rgb(0, 0, 0);
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('Imagens/fundo\ principal.jfif') no-repeat fixed;
    background-size: cover;
    background-position: center;
    filter: brightness(0.5); /* Ajuste o valor conforme necessário para escurecer a imagem de fundo */
}


.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    margin-right: 70px;
    height: 80px;
    
    
    

}

div.container  {
 padding-left: 45px;
    

}

.links {
    display: flex;
    justify-content: center;

}
    


.links a {
    margin-right: 10px; /* Ajuste o espaçamento conforme necessário */
    text-align: center; /* Centralizar o texto */
    display: inline-block; /* Para que a largura seja ajustada ao conteúdo */
    padding: 7px 14px; /* Ajustar o preenchimento para que o texto fique centralizado */
    border: 1px solid #C11119;
    background-color: #e90813;
    border-radius: 4px;
    font-family: var(--fonte2);
    font-weight: lighter;
    box-sizing: border-box;
    text-decoration: none;
    
    
    
}


p > a#caixa1{
    border: 1px solid #5E5E5E;
    border-radius: 3px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.568);
    font-family: var(--fonte2);
    font-weight: lighter;
    box-sizing: border-box;
    text-align: center;
    padding: 4px;

}

p{
  text-align: center;  
}

h1{
    text-align: center;
    font-family: var(--fonte1);
    font-size: 50px;
    margin-top: 70px;
    padding-top: 130px;
    padding-bottom: 10px;
    font-weight: bolder;
    text-shadow: 0.5px 0px 0px #60C6E6;
}

p.par1{
    font-family: var(--fonte3);
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 1px 1px 5px 2px black;
    padding-bottom: 20px;

}

p.par2{
    font-family: var(--fonte2);
    font-size: 20px;
}

